.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.banner {
    height: 80vh;
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    /* filter: brightness(50%) */
}

.banner-text {
    position: absolute;
    /* top: 50%; */
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

body {
    overflow-x: hidden;
}

.btn-whatsapp {
    background-color: #23bd38;
    border: #23bd38;
    color: white;
}

.btn-whatsapp:hover {
    background-color: #0c9e21;
    border: #0c9e21;
    color: white;
}

.copy-text {
    transition: all 0.2s ease-in-out;
}

.copied-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

#msg-copiado {
    transition: opacity 0.3s ease-in-out;
}

.copy-text {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  left: unset!important;
  bottom: 0;
  z-index: 1030;
}
    
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.logo-footer {
    height: auto;
    width: 75%;
    max-width: 350px;
}

/* xs */
@media (max-width: 575px) {
    p, .fs-5 {
        font-size: 1.09rem!important;
    }

    .col-xs-12 {
        padding: 0.5rem 0 0.5rem 0;
    }

    #novo {
        padding: 2rem!important;
    }

    .text-xs-center {
        text-align: center;
    }

    .servicos-descricao {
        margin: 0.5rem!important;
    }
}

/* sm */
/* @media (min-width: 576px) and (max-width: 767px) {
} */

/* md */
/* @media (min-width: 768px) and (max-width: 991px) {
} */

/* lg */
/* @media (min-width: 992px) and (max-width: 1199px) {
} */

/* xl */
/*@media (min-width: 1200px) and (max-width: 1399px) {
}

/* xxl */
/*@media (min-width: 1400px) {
} */